h1 {
    margin-bottom: 40px;
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;

}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

pre {
  text-align: left;
}

td {
  max-width: 400px;
}

th {
  background-color: black;
  color: white;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #D6EEEE;}
